@media screen and (max-width: 1020px) { 
	.techStack-section {
		display: none;
	}
}

@media screen and (min-width: 700px) {
	.techStack-section {
		display: flex;
    flex-direction: column;
	}

	.techStack-section-span {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(33, 31, 31));
    height: 100px;
    width: 100%;
		overflow:auto;
	}

	.techStack-section-list {
		color: rgb(248, 235, 212);
    display: flex;
    font-size: 25px;
    font-weight: 400;
    justify-content: space-evenly;
    background: rgb(33, 31, 31);
    list-style: none;
    padding: 2rem;
	}
}

@media screen and (min-width: 1020px) {

}